{% extends 'base.html' %}
{% block title %} Edit Post {% endblock %}
{% block content %}
<br/>
<h1> Edit Post </h1>
<br/><br/>
{%if user.is_authenticated%}
{%if user.id == object.author.id%}
<div class = "form-group">
<form method = "POST"> {%csrf_token%}
    {{form.media}}
    {{form.as_p}}
<button class="btn btn-primary">Update</button>
</div>
{%else%}
You are not allowed here! Sorry to burst your bubble Mr. Hacker.
{%endif%}
{% else %}
You are not logged in. <br/>
Click <a href = "{% url 'login' %}">here</a> to login.
{% endif %}
{% endblock %}